<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <img src="/<%= image.imageURL%>" alt="">
    <h1><%=userId%></h1>
    <form action="/deleteImage" method="POST">
      <input type="hidden" value="<%=  image._id %>" name="imageId">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button class="btn" type="submit">Delete</button>
  </form>
  </main>

<%- include('../includes/end.ejs') %>